<!DOCTYPE html>
<html ng-app="fedTest">

<head>
    <meta charset="utf-8">
    <title>David Randell - HubSpotExercise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../partials/_fonts %>
        <link rel="stylesheet" href="css/main.css" />
</head>

<body ng-controller="mainController">

    <% include ../partials/_testimonial %>

        <% include ../partials/_cta %>

            <% include ../partials/_filterable-content %>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>
                <script src="js/app.js"></script>
</body>

</html>