<section id="mediaWrapper">
    <div id="mediaInterface">
        <div>
            <div>
                <div id="checkboxFilters" class="group">
                    <div class="dropdown" ng-click="toggleGenres()">
                        <span>Genre</span>
                        <div id="genreChecklist" ng-controller="genreController">
                            <% include ../partials/_genredropdown %>
                        </div>
                    </div>
                    <div class="dropdown" ng-click="toggleYears()">
                        <span>Year</span>
                        <div id="yearChecklist" ng-controller="yearController">
                            <% include ../partials/_yeardropdown %>
                        </div>
                    </div>
                    <div class="searchbox search icon">
                        <input type="text" ng-model="search">
                    </div>
                </div>
                <div id="radioFilters" class="group">
                    <div class="radios">
                        <input type="radio" ng-model="type" value="movie">
                        <label>Movies</label>
                    </div>
                    <div class="radios">
                        <input type="radio" ng-model="type" value="book">
                        <label>Books</label>
                    </div>
                    <div class="clearfiltersCTA">
                        <a href="#" ng-click="resetFilters()">Clear filters</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <div id="media">
                <ul id="movieList">
                    <% include ../partials/_movie-objects %>
                </ul>
            </div>
        </div>
    </div>
</section>