<li ng-repeat="movie in movies | orderBy:'title'">
    <figure>
        <img src="{{movie.poster}}" />
        <figcaption>{{movie.title + ' (' +movie.year+')'}}</figcaption>
        <span>{{movie.genre}}</span>
    </figure>
</li>