<li ng-repeat="movie in movies | orderBy:'title' | filter:search | filter:type | filter:year | filter:genre">

    <figure class="movieDetails">
        <img src="{{movie.poster}}" alt="{{'Image of the artwork for the ' + movie.type + ' ' + movie.title}}" />

        <figcaption>{{movie.title + ' (' +movie.year+')'}}</figcaption>
        <span>Genre:  {{movie.genre.join(", ")}} </span>

    </figure>
</li>